body{
    font-family: sans-serif;
}

.container {
    display:grid;
    /* grid-template-columns: repeat(16,18px); */
    background-color:#FAFAFA;
    border: 1px solid #5A5766;
}

.cell {
    height:100%;
    width:100%;
    min-height: 18px;
    min-width: 18px;
    opacity: 100%;
}

.cell:hover {
    background-color:#ebd7d7;
}

.form-selections{
    display: grid;
    grid-template-columns: 1fr 1fr;
}